h1 About
dl
  dt Name
  dd
    a(href="https://sites.google.com/site/8th713lab/Home/chrome/pixivviewer") #{name}
    | &ensp;-&ensp;#{version}
dl
  dt Author
  dd
    a(href="http://twitter.com/8th_713") 8th713
    | &ensp;-&ensp;
    a(href="mailto:8th713@gmail.com") 8th713@gmail.com
dl
  dt Library and Framework
  dd
    a(href="http://angularjs.org") AngularJS
    | &ensp;-&ensp;MIT License
  dd
    a(href="http://underscorejs.org") Underscore.js
    | &ensp;-&ensp;MIT License
dl
  dt Icon Set
  dd
    a(href="http://keyamoon.com/icomoon/") IcoMoon - Free
    | &ensp;-&ensp;
    a(href="http://creativecommons.org/licenses/by/3.0/") CC BY 3.0
