h1 Help
p
  | Link Extraction は閲覧中のウェブページからリンクを抽出する拡張です。
  | href 属性か src 属性を持った要素を対象にしています。
p
  | 抽出時 URL のハッシュフラグメントは取り除かれます。
  | また URL の重複したアイテムはひとつにまとめられます。

h2 起動方法
p コンテキストメニューから起動します。

h3 コンテキストメニューの種類
p コンテキストメニューは呼び出し元の状態により3種類のメニューが自動的に表示されます。
dl
  dt このページのリンクを抽出
  dd 常に表示されます。
  dd コンテキストメニューを表示したページとそのページ内に存在する全てのフレームから抽出を行います。
dl
  dt このフレームのリンクを抽出
  dd フレーム内からコンテキストメニューを呼び出した場合表示されます。
  dd コンテキストメニューを表示したフレームからのみ抽出を行います。
dl
  dt 選択範囲のリンクを抽出
  dd 文字列を選択中に表示されます。
  dd 選択範囲内の要素からのみ抽出を行います。



h2 結果画面
figure
  img(src="/images/ss01.png")
  figcaption 結果画面(Popup 表示)
p コンテキストメニューを実行すると抽出結果ウィンドウが表示されます。最上部から
ul
  li ヘッダーゾーン
  li リストゾーン
  li フッターゾーン
p に分類されます。

h3 ヘッダーゾーン
p 最上部に表示される部分です。
ul
  li インクリメントサーチフィールド
  li フレーム選択フィールド
  li タグフィールド
p に分類されます。

dl
  dt インクリメントサーチフィールド
  dd URL を対象に任意の文字列で絞込みを行えます。
  dd スペースで区切りで複数文字列で検索出来ます。
  dd あらかじめ設定された候補での補完を使用できます。
dl
  dt フレーム選択フィールド
  dd アイテムの取得元ページの URL で絞り込みを行えます。
dl
  dt タグフィールド
  dd タグフィールドには取得したアイテムに付加された全てのタグが表示されます。
  dd ユーザーはタグを使用してアイテムを絞り込むことができます。
  dd 絞込み実行中のタグは濃色で表示されます。
  dd 複数のタグで絞り込んだ場合いずれかのタグを含むアイテムを対象とします。

h3 リストゾーン
p 抽出結果を表示するゾーンです。抽出されたアイテムがリスト表示されます。
p 各アイテムは選択状態と所属ページ情報、タグ情報を持ちます。
p
  | 左側のチェックボックス(
  span.icon.success &#xe002;
  | ,
  span.icon.danger &#xe003;
  | )が選択状態を表しています。選択中のアイテムのみがコピーや開くなどの対象となります。
p
  span.source &#xe004;
  | にホバーすると取得元ページの URL がヒント表示されます。

h3 フッターゾーン
p
  span.icon(title="全部選択") &#xe002;
  | と
  span.icon(title="全部解除") &#xe003;
  | のボタン表示中のアイテムの選択状態をまとめて切り替えます。
p
  span.icon.danger(title="選択を削除") &#xe005;
  | は選択中のアイテムをリストから除外します。除外されたアイテムは復元出来ません。
p
  span.icon(title="ソート") &#xe006;
  | をクリックするとソート条件サブメニューが開きソート条件を変更できます。
p
  span.icon(title="オプション") &#xe007;
  | をクリックするとオプションサブメニューが開きます。
dl
  dt Font size
  dd 文字サイズを変えます。
dl
  dt Save window size
  dd
    | 現在のウィンドウの位置とサイズをセーブします。
    | パネルモードの場合は位置の設定は反映されません。
    | また、サイズも一定以上の大きさにはならないようです(Chrome の仕様？)。
dl
  dt Config
  dd 新規タブに設定画面(このページ)を開きます。
